**/bin/
**/obj/
**/.git/
**/.vs/
**/.vscode/
**/.idea/
**/*.user
**/*.suo
**/*.sln.docstates
**/TestResults/
**/coverage/
**/CoverageReport/
**/logs/
**/*.log
**/*.trx
**/*.tmp
**/*.temp
**/.DS_Store
**/Thumbs.db
**/.env
**/.env.*
**/secrets/
**/*.[pP][eE][mM]
**/*.key
**/*.pfx
**/*.p12
**/appsettings.*.json
**/launchSettings.json
**/*.http
**/docker-data/
tests/
db/
